<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
<div class="col-md-4"></div>

<div class="col-md-4">

    <h2 class="form-signin-heading">Login in your account</h2>


    <form method="POST" th:action="@{/login}" class="form-signin">

            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true"/>
        <h1></h1>
            <input name="password" type="password" class="form-control" placeholder="Password"/>
<h1></h1>
            <input class="btn btn-lg btn-primary btn-block" type="submit">
        <h1></h1>
            <h4 class="text-center"><a href="/registration">Don't you have an account? Create it now!</a></h4>
    </form>

</div>
    <div class="col-md-4"></div>



</body>
</html>