<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="col-md-12">
        <img th:src="*{picture}" th:title="*{name}" class="img-responsive" width="800px"/>
        <h2 style="font-weight: bold; font-size: 3em;" th:text="*{name}"></h2>
    <b th:text="*{description}"></b>
    <br> </br>
            <h3>Release date:</h3>
            <b th:text="*{releaseDate}"></b>
    <br> </br>
            <h3>Price:</h3>
            <b th:text="*{price}"></b> €
    <br> </br>
            <h3>Web site:</h3>
            <b th:text="*{website}"></b>
    <br> </br>
            <h3>Company:</h3>
            <b th:text="*{company}"></b>
    <br> </br>
            <h3>Income estimation:</h3>
            <b th:text="*{incomeEstimation}"></b> €
    <br> </br>
            <h3>Sales estimation:</h3>
            <b th:text="*{salesEstimation}"></b> uds.
    <br> </br>
            <h3>Total reviews:</h3>
            <b th:text="*{totalReviews}"></b>
</div>

</body>
</html>