<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'applications')}">

  <body>

    <h2>Applications</h2>
    <button th:href="@{loadGet}" class="btn btn-default" type="submit">
        <a th:href="@{loadGet}">Get New</a>
    </button>
    <div class="col-md-12">
        <br />
        <table id="app" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 200px;">Name</th>
            <th style="width: 150px;">Picture</th>
            <th style="width: 150px;">Release date</th>
            <th style="width: 150px;">Price (€)</th>
            <th style="width: 150px;">Company</th>
            <th style="width: 150px;">Get PDF</th>

        </tr>
        </thead>
        <tbody>
          <tr th:each="app : ${applications}">
              <td>
                  <a th:href="@{/applications/appInfo/__${app.id}__}" th:text="${app.name}"></a>
              </td>
              <td><img th:src="${app.picture}" title="app_img" class="img-responsive"/></td>
              <td th:text="${app.releaseDate}"></td>
              <td th:text="${app.price}"></td>
              <td th:text="${app.company}"></td>
              <td text="Export">
                  <a th:href="@{/pdf/__${app.id}__}">Download</a>
              </td>
          </tr>
        </tbody>
    </table>
    </div>
  </body>
</html>


