<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'')}">

  <body>

    <h2>Applications</h2>

    <table id="app" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Name</th>
            <th style="width: 200px;">Description</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="app : ${applications}">
              <td>
                  <a th:href="@{/applications/applications/applicationDetails}" th:text="${app.name}"/></a>
              </td>
              <td th:text="${app.description}"/>
          </tr>
        </tbody>
    </table>

  </body>
</html>


