<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CreditCard</title>
</head>
<body>
<h2>Pay</h2>

<form th:action="@{/creditCard/pay}">
    <label for="number">Number of card: </label><br>
    <input type="text" id="number" name="number" placeholder="Introduce el número de tarjeta de crédito">

    <label for="expY">Expiration Year: </label><br>
    <input type="text" id="expY" name="expY" placeholder="Año">

    <label for="expM">Expiration Month: </label><br>
    <input type="text" id="expM" name="expM"placeholder="Mes">

    <label for="cvv">Number of card: </label><br>
    <input type="text" id="cvv" name="cvv" placeholder="Introduce el CVV">

    <input type="submit" value="Submit">
</form>

</body>
</html>